<form [formGroup]="form">
    <p-fieldset legend="Gestiòn de usuario">
        <div class="ui-g">
            <div class="ui-g-3">
                <span class="ui-float-label">
                    <p-dropdown id="tipo_documento" formControlName="tipo_documento" [options]="documentos">
                    </p-dropdown>
                    <p-message *ngIf="form.controls['tipo_documento'].invalid" severity="error"
                        text="Seleciones una opción"></p-message>
                </span>
            </div>

            <div class="ui-g-3">
                <span class="ui-float-label">
                    <!-- <input type="text" pInputText placeholder="Username" class="ng-dirty ng-invalid"> -->
                    <input [ngClass]="{'ng-invalid': !form.controls['numero'].valid }" formControlName="numero"
                        type="text" size="30" pInputText>
                    <label for="float-input">Nùmero de documento</label>
                    <p-message *ngIf="form.get('numero').hasError('required')" severity="error" text="Campo requerido">
                    </p-message>
                    <p-message *ngIf="form.controls['numero'].hasError('pattern')" severity="error" text="Ingrese solo números"></p-message>
                </span>
            </div>


            <div class="ui-g-3">
                <span class="ui-float-label">
                    <input formControlName="nombre" type="text" size="30" pInputText>
                    <p-message *ngIf="form.get('nombre').hasError('required')" severity="error" text="Campo requerido">
                    </p-message>
                    <p-message *ngIf="form.controls['nombre'].hasError('pattern')" severity="error" text="Ingrese solo letras"></p-message>
                    <label for="float-input">Nombres</label>

                </span>
            </div>

            <div class="ui-g-3">
                <span class="ui-float-label">
                    <input formControlName="apellido" type="text" size="30" pInputText>
                    <label for="float-input">Apellidos</label>
                    <p-message *ngIf="form.get('apellido').hasError('required')" severity="error" text="Campo requerido">
                    </p-message>
                    <p-message *ngIf="form.controls['apellido'].hasError('pattern')" severity="error" text="Ingrese solo letras"></p-message>

                </span>
            </div>
            <br />
            <br />
            <br />

            <div class="ui-g-3">
                <span class="ui-float-label">
                    <p-calendar formControlName="fecha_nacimiento"
                    dateFormat="dd/mm/yy"
                    [yearNavigator]="true"
                    yearRange="1917:3030"
                    [locale]="es"
                    (ngModelChange)="calcularFecha()"
                    ></p-calendar>
                    <label for="float-input">Fecha de nacimiento</label>
                    <p-message *ngIf="form.controls['fecha_nacimiento'].invalid" severity="error"
                        text="Field is required"></p-message>

                </span>
            </div>


            <div class="ui-g-3">
                <p-dropdown formControlName="lugar_nacimiento" [options]="lugar1"></p-dropdown>
                <p-message *ngIf="form.controls['lugar_nacimiento'].invalid" severity="error" text="Field is required">
                </p-message>

            </div>

            <div class="ui-g-3">
                <span class="ui-float-label">
                    <p-calendar formControlName="fecha_expediccion"
                    [minDate]="minFecha" 
                    [maxDate]="maxFecha"
                    yearRange="1917:3030"
                    dateFormat="dd/mm/yy"
                    [yearNavigator]="true"
                    [locale]="es"
                     ></p-calendar>
                    <label for="float-input">Fecha de expediccion</label>
                    <p-message *ngIf="form.controls['fecha_expediccion'].invalid" severity="error"
                        text="Field is required"></p-message>

                </span>
            </div>

            <div class="ui-g-3">
                <span class="ui-float-label">
                    <input type="number" size="30"  pInputText formControlName="edad">
                    <label for="float-input">Edad</label>
                    <p-message *ngIf="form.controls['edad'].invalid" severity="error" text="Ingrese solo nùmeros">
                    </p-message>
                </span>
            </div>
            <button pButton type="button" label="Guardar" (click)="guardarUser()"></button>
        </div>
    </p-fieldset>
</form>