<form [formGroup]="form">

    <div class="ui-g">
        <div class="ui-g-12">
            <label for="validationTooltip03"><small>SU DIRECION ES</small> </label>
            <input formControlName="formatoDireccion" type="email" class="form-control form-control-sm" disabled>
        </div>
        <div class="ui-g-6">
            <span class="ui-float-label">
                <input formControlName="barrio" type="text" class="form-control" pInputText>
                <label for="float-input">Barrio</label>
            </span>
            <br>
            <p-message *ngIf="form.get('barrio').hasError('required')" severity="error" text="Barrio requerido">
            </p-message>
            <p-message *ngIf="form.controls['barrio'].hasError('pattern')" severity="error" text="Ingrese solo letras">
            </p-message>
        </div>
        <div class="ui-g-6">
            <span class="ui-float-label">
                <input formControlName="tipo" type="text" class="form-control" pInputText>
                <label for="float-input">Tipo</label>
            </span>
            <br>
            <p-message *ngIf="form.get('tipo').hasError('required')" severity="error" text="Campo requerido">
            </p-message>
            <p-message *ngIf="form.controls['tipo'].hasError('pattern')" severity="error" text="Ingrese solo números">
            </p-message>
        </div>
        <br>
        <div class="ui-g-4">
            <span class="ui-float-label">
                <input formControlName="via" type="text" class="form-control" pInputText>
                <label for="float-input">Via</label>
            </span>
            <br>
            <p-message *ngIf="form.get('via').hasError('required')" severity="error" text="Campo requerido">
            </p-message>
            <p-message *ngIf="form.controls['via'].hasError('pattern')" severity="error" text="Ingrese solo letras">
            </p-message>
        </div>
        <div class="ui-g-4">
            <span class="ui-float-label">
                <input formControlName="letra" type="text" class="form-control" pInputText>
                <label for="float-input">Letra</label>
            </span>
            <br>
            <p-message *ngIf="form.get('letra').hasError('required')" severity="error" text="Campo requerido">
            </p-message>
            <p-message *ngIf="form.controls['letra'].hasError('pattern')" severity="error" text="Ingrese solo letras">
            </p-message>
        </div>
        <div class="ui-g-4">
            <span class="ui-float-label">
                <input formControlName="letra2" type="text" class="form-control" pInputText>
                <label for="float-input">Letra2</label>
            </span>
            <br>
            <p-message *ngIf="form.get('letra2').hasError('required')" severity="error" text="Campo requerido">
            </p-message>
            <p-message *ngIf="form.controls['letra2'].hasError('pattern')" severity="error" text="Ingrese solo letras">
            </p-message>
        </div>
        <div class="ui-g-6">
            <span class="ui-float-label">
                <label for="validationTooltip05"><small>NUMERO</small></label>
                <input formControlName="letra3" type="text" class="form-control" pInputText>
                <label for="float-input">Letra3</label>
            </span>
            <br>
            <p-message *ngIf="form.get('letra3').hasError('required')" severity="error" text="Campo requerido">
            </p-message>
            <p-message *ngIf="form.controls['letra3'].hasError('pattern')" severity="error" text="Ingrese solo letras">
            </p-message>
        </div>

        <div class="ui-g-6">
            <span class="ui-float-label">
                <input formControlName="observaciones" type="text" class="form-control" pInputText>
                <label for="float-input">Observaciones</label>
            </span>
            <br>
            <p-message *ngIf="form.get('observaciones').hasError('required')" severity="error" text="Campo requerido">
            </p-message>
        </div>

    </div>
    <button pButton type="button" label="Agregar" (click)="guardarDireccion()"></button>
</form>