<div class="p-grid">
    <div class="p-col-12">
        <h3 class="first">Default</h3>
        <div class="p-col p-col-align-start">
            <p class="box">
                <button pButton type="button" label="Volver" routerLink="/"></button>
            </p>
        </div>
        <p-tabView>

            <p-tabPanel header="Información basica" leftIcon="pi pi-calendar">
                <app-usuario></app-usuario>

            </p-tabPanel>
            <p-tabPanel header="Contacto" leftIcon="pi pi-inbox">
                <app-contacto [idUsuarioContac]="inIdUsuario"></app-contacto>
            </p-tabPanel>
            <p-tabPanel header="Referencias" leftIcon="pi pi-user" rightIcon="pi pi-star">
                <app-referencia></app-referencia>
            </p-tabPanel>
        </p-tabView>

    </div>
</div>